/BlogAndRemark_D.java
/BlogCollection_D.java
/Blog_D.java
/Contact_D.java
/DomainEntity_D.java
/Fans_D.java
/Garde_D.java
/Manager_D.java
/Member_D.java
/PrivateLetter_D.java
/ReplyAndRemark_D.java
/Reply_D.java
/ThreadAndRemark_D.java
/ThreadCollection_D.java
/Threads_D.java
